<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Events</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/addPrenotation.js') }}"></script>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body bgcolor="#cfd8dc">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/UserProfile" class="brand-logo">InviteParty<sub style="vertical-align: sub; font-size: small;">UserProfile</sub></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/showEvent">Visualizza Eventi</a></li>
                <li><a href="/allPrenotations">Visualizza Prenotazioni</a></li>
                <li><a href="/UserProfile">Profilo</a></li>
                <li><a href="/"><i class="material-icons right">exit_to_app</i>Logout</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="card">
    <div class="card-content">
        <div class="container" style="text-align: left">
            <div class="input-field col s6">
                <span style="text-align: center" class="card-title">Eventi Disponibili</span>
                {% if not_booked | length == 0 %}
                    <p><i class="material-icons left">error_outline</i>Non ci sono eventi da visualizzare</p>
                {% else %}
                    <div class="row">
                        {% for item in not_booked %}
                            <div class="col s12 m6" id="card{{ loop.index }}">
                                <div class="card blue-grey">
                                    <div class="card-content white-text">
                                        <span class="card-title" style="text-align: center" id="nomeEvento{{ loop.index }}"> {{ item['nomeEvento'] }}</span>
                                        <p class="flow-text" style="font-size: medium" id="nomeLocale{{ loop.index }}"><b>Locale Evento</b> |  {{ item['nomeLocale'] }}</p><br>
                                        <p class="flow-text" style="font-size: medium" id="giornoEvento{{loop.index }}"><b>Giorno Evento</b> | {{ item['giornoEvento'] }}</p><br>
                                        <p class="flow-text" style="font-size: medium" id="oraEvento{{loop.index }}"><b>Orario Evento</b> |  {{ item['oraEvento'] }}</p><br>
                                        <p class="flow-text" style="font-size: medium"><b>Tipo di Evento</b> |  {{ item['tipoEvento'] }}</p><br>
                                        <div style="text-align: right">
                                            <a class="btn-floating btn-large waves-effect waves-light red" onclick="prenota({{ loop.index }})"><i class="material-icons">add</i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


    <ul class="side-nav" id="mobile-demo">
        <li><a href="/showEvent">Visualizza Eventi</a></li>
        <li><a href="/allPrenotations">Visualizza Prenotazioni</a></li>
        <li><a href="/UserProfile">Profilo</a></li>
        <li><a href="/"><i class="material-icons right">exit_to_app</i>Logout</a></li>
    </ul>

</body>
<script type="text/javascript" src="../static/javascript/app.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });


</script>
</html>